.portfolio {

    &__link {
        display: block;
        text-decoration: none;

        transition: box-shadow var(--animation);

        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
    }

    &__buttons-list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 40px;
    }

    &__buttons-item:not(:last-child) {
        margin-right: 8px;
    }

    &__item:not(:last-child) {
        margin-bottom: 30px;
    }

    &__img-wrap {
        position: relative;
        overflow: hidden;
    }

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 63px 24px;

        background-color: rgba(33, 150, 243, 0.9);

        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        color: var(--main-color);

        transform: translateY(101%);
        transition: transform var(--animation);
        overflow: auto;

        .portfolio__link:hover &,
        .portfolio__link:focus & {
            transform: translateY(0);
        }
    }

    &__wrap {
        border-left: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        padding: 20px 24px;
    }

    &__subtitle {
        margin-bottom: 4px;

        color: var(--primary-color);
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    &__text {
        color: var(--secondary-color);
        font-size: 16px;
        line-height: 1.88;
    }
}

// 0 - 767px------------------------------------

@media screen and (max-width: 767px) {
    .only-mobile-inner {
        margin-bottom: -15px;
    }

    .portfolio {

        &__buttons-item:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}

// 768 + -------------------------------------

@media screen and (min-width: 768px) {
    .portfolio {
    
        &__buttons-list {
            margin-bottom: 30px;
            justify-content: center;
        }

        &__examples-list {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .portfolio {
        &__item {
            display: flex;
            width: calc((100% - 1 * 30px) / 2);
        
            &:not(:nth-child(2n)) {
                margin-right: 30px;
            }
        
            &:not(:nth-last-child(-n + 2)) {
                margin-bottom: 30px;
            }
        }

        &__link {
            display: flex;
            flex-direction: column;
        }

        &__wrap {
            flex-grow: 1;
        }
    }
}

// 1200px + -------------------------------------

@media screen and (min-width: 1200px) {
    .section__portfolio {
        padding-top: 100px;
    }

    .portfolio {

        &__buttons-list {
            margin-bottom: 50px;
        }

        &__examples-list {
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            width: calc((100% - 2 * 30px) / 3);

            &:not(:nth-child(3n)) {
                margin-right: 30px;
            }

            &:not(:nth-last-child(-n + 3)) {
                margin-bottom: 30px;
            }
        }
    }
}


// -----------------------------------------------------------------------------------



// .section__portfolio {
//     padding-top: 100px;
// }

// .portfolio {

//     &__link {
//         display: block;
//         text-decoration: none;

//         transition: box-shadow var(--animation);

//         &:hover,
//         &:focus {
//             box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
//                 1px 4px 6px rgba(0, 0, 0, 0.16);
//         }
//     }

//     &__buttons-list {
//         display: flex;
//         justify-content: center;
//         margin-bottom: 50px;
//     }

//     &__buttons-item:not(:last-child) {
//         margin-right: 8px;
//     }

//     &__examples-list {
//         display: flex;
//         flex-wrap: wrap;
//     }

//     &__item {
//         width: calc((100% - 2 * 30px) / 3);

//         &:not(:nth-child(3n)) {
//             margin-right: 30px;
//         }

//         &:not(:nth-last-child(-n + 3)) {
//             margin-bottom: 30px;
//         }
//     }

//     &__img-wrap {
//         position: relative;
//         overflow: hidden;
//     }

//     &__overlay {
//         position: absolute;
//         top: 0;
//         left: 0;
//         width: 100%;
//         height: 100%;
//         padding: 63px 24px;

//         background-color: rgba(33, 150, 243, 0.9);

//         font-size: 18px;
//         line-height: 1.56;
//         letter-spacing: 0.03em;
//         color: var(--main-color);

//         transform: translateY(101%);
//         transition: transform var(--animation);
//         overflow: auto;

//         .portfolio__link:hover &,
//         .portfolio__link:focus & {
//             transform: translateY(0);
//         }
//     }

//     &__wrap {
//         border-left: 1px solid var(--border-color);
//         border-bottom: 1px solid var(--border-color);
//         border-right: 1px solid var(--border-color);
//         padding: 20px 24px;
//     }

//     &__subtitle {
//         margin-bottom: 4px;

//         color: var(--primary-color);
//         font-size: 18px;
//         line-height: 2;
//         letter-spacing: 0.06em;
//     }

//     &__text {
//         color: var(--secondary-color);
//         font-size: 16px;
//         line-height: 1.88;
//     }
// }